<script>
  // getting all required elements
  const searchWrapper = document.querySelector(".autocomplete");
  const inputBox = searchWrapper.querySelector(".searchBox");
  const suggBox = searchWrapper.querySelector(".autocom-box");

  let backUpInp = "";
  // if user press any key and release
  inputBox.onkeyup = (e) => {
    let userData = e.target.value; //user enetered data
    let emptyArray = [];
    if (userData) {
      //if user pressed arrow keys and siggBox cointains <li> elements add to next <li> class activated
      if (e.keyCode == 40) {
        let active = suggBox.querySelector(".active");
        if (active) {
          active.classList.remove("active");
          let next = active.nextElementSibling;
          if (next) {
            next.classList.add("active");
          } else {
            setTimeout(() => {
                inputBox.value = backUpInp;
            }, 200);
          }
        } else {
          suggBox.firstElementChild.classList.add("active");
        }
        inputBox.value = suggBox.querySelector(".active").innerHTML.replace('<img loading="lazy" src="/View/icon/search.webp">','');
      } else if (e.keyCode == 38) {
        let active = suggBox.querySelector(".active");
        if (active) {
          active.classList.remove("active");
          let prev = active.previousElementSibling;
          if (prev) {
            prev.classList.add("active");
          } else {
            setTimeout(() => {
                inputBox.value = backUpInp;
            }, 200);
            
          }
        } else {
          suggBox.lastElementChild.classList.add("active");
        }
        inputBox.value = suggBox.querySelector(".active").innerHTML.replace('<img loading="lazy" src="/View/icon/search.webp">','');
      } else if (e.keyCode == 13) {
        var t = document.getElementById("searchForm");
        t.submit();
      } else {
        backUpInp = inputBox.value;

        fetch(
          "https://cors-anywhere.jojoyou3.repl.co/ac.duckduckgo.com/ac/?type=list&callback=jsonCallback&_=1600956892202&q=" +
            userData
        )
          .then((response) => response.json())
          .then((data) => {
            //get elements from ["go",["google","google maps","google traduttore","google chrome","google drive","google meet","google translate","google earth"]]
            let list = data.map((item) => {
              return item;
            });
            //foreach list element
            list.forEach((item) => {
              //if item is array
              if (Array.isArray(item)) {
                //foreach array element
                let i = 0;
                item.forEach((element) => {
                  if(i < 10)
                    emptyArray.push(
                    '<li class="suggestion" onclick="select(this)"><img loading="lazy" src="/View/icon/search.webp">' +
                      element +
                      "</li>"
                  );
                  ++i;
                });
              }
            });
            //show suggestions
            showSuggestions(emptyArray);
          });
      }
    } else {
      //delay for 0.5
      setTimeout(() => {
        suggBox.innerHTML = "";
      }, 500);
    }
  };
//when clicked somewhere different than inputbox hide suggBox

inputBox.onblur = () => {
     setTimeout(() => {
                suggBox.innerHTML = "";
            }, 200);
   
    };
//inputbox gets focus and value isnt null show suggBox
    inputBox.onfocus = () => {
        if (inputBox.value) {
            userData = inputBox.value;
            backUpInp = inputBox.value;
            let emptyArray = [];
fetch(
  "https://cors-anywhere.jojoyou3.repl.co/ac.duckduckgo.com/ac/?type=list&callback=jsonCallback&_=1600956892202&q=" +
    userData
)
  .then((response) => response.json())
  .then((data) => {
    //get elements from ["go",["google","google maps","google traduttore","google chrome","google drive","google meet","google translate","google earth"]]
    let list = data.map((item) => {
      return item;
    });
    //foreach list element
    list.forEach((item) => {
      //if item is array
      if (Array.isArray(item)) {
        //foreach array element
        let i = 0;
        item.forEach((element) => {
          if(i < 10)
            emptyArray.push(
            '<li class="suggestion" onclick="select(this)"><img loading="lazy" src="/View/icon/search.webp">' +
              element +
              "</li>"
          );
          ++i;
        });
      }
    });
    //show suggestions
    showSuggestions(emptyArray);
  });
        }
    };

    function select(element) {
    let selectData = element.textContent;
    inputBox.value = selectData;
    //searchWrapper.classList.remove("active");
    //accept form
      var t = document.getElementById("searchForm");
      t.submit();
  }
  function showSuggestions(list) {
    let listData;
    if (!list.length) {
      userValue = inputBox.value;
      listData = `<li class="suggestion" onclick="select(this)"><img loading="lazy" src="/View/icon/search.webp">${userValue}</li>`;
    } else {
      listData = list.join("");
    }
    suggBox.innerHTML = listData;
  }
</script>